extends ../../layout

block content
  .container
    h1 Pacientes
    a.btn.btn-success.mb-3(href="/paciente/crear") Agregar Nuevo Paciente

    h2 Buscar Paciente por DNI
    .form-group
      label(for="documento_paciente") Ingrese el DNI del paciente:
      input.form-control(type="text", id="documento_paciente", name="documento_paciente", required)
    .form-group
      button#btnBuscarDocumento.btn.btn-primary() Buscar
    if message
      .alert.alert-warning #{message}
    table.table.table-striped.table-hover.text-center
      thead.thead-dark
        tr
          th Nombre
          th Apellido
          th Documento
          th Fecha de Nacimiento
          th Sexo
          th Obra Social
          th Plan
          th Acciones
          th
            button#btnRefresh.btn.btn-primary() Refrescar
      tbody#pacientesTable
        each paciente in pacientes
          tr
            td= paciente.nombre_paciente
            td= paciente.apellido_paciente
            td= paciente.documento_paciente
            td= paciente.fecha_nac.toISOString().substring(0, 10)
            td= paciente.sexo_paciente
            td= paciente.nombre_os || 'Ninguno'
            td= paciente.plan || 'Ninguno'
            td
              a.btn.btn-primary.btn-sm.mr-2(href=`/paciente/editar/${paciente.id_paciente}`) Editar
              form.d-inline(action=`/paciente/${paciente.id_paciente}`, method="POST")
                button.btn.btn-danger.btn-sm(type="submit") Eliminar
            td
              a.btn.btn-primary.btn-sm.mr-2(href=`/paciente/prescripcionPaciente/${paciente.id_paciente}`) Recetas

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script.
    $(document).ready(function() {
      $('#btnBuscarDocumento').click(function() {
        const documento = $('#documento_paciente').val();
        
        $.ajax({
          url: '/paciente/buscar',
          method: 'GET',
          data: { documento_paciente: documento },
          success: function(data) {
            const pacientesTable = $('#pacientesTable');
            
            if (data.message) {
              alert(data.message);
            } else {
              pacientesTable.empty();
              data.pacientes.forEach(paciente => {
                const row = `
                  <tr>
                    <td>${paciente.nombre_paciente}</td>
                    <td>${paciente.apellido_paciente}</td>
                    <td>${paciente.documento_paciente}</td>
                    <td>${new Date(paciente.fecha_nac).toISOString().substring(0, 10)}</td>
                    <td>${paciente.sexo_paciente}</td>
                    <td>${paciente.nombre_os || 'Ninguno'}</td>
                    <td>${paciente.plan || 'Ninguno'}</td>
                    <td>
                      <a class="btn btn-primary btn-sm mr-2" href="/paciente/editar/${paciente.id_paciente}">Editar</a>
                      <form class="d-inline" action="/paciente/${paciente.id_paciente}" method="POST">
                        <button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
                      </form>
                    </td>
                    <td>
                      <a class="btn btn-primary btn-sm mr-2" href="/paciente/prescripcionPaciente/${paciente.id_paciente}">Recetas</a>
                    </td>
                  </tr>
                `;
                pacientesTable.append(row);
              });
            }
          },
          error: function(err) {
            console.error('Error al buscar paciente:', err);
            alert('Error al buscar paciente');
          }
        });
      });
      $('#btnRefresh').click(function() {
        $.ajax({
          url: '/paciente/todos',
          method: 'GET',
          success: function(data) {
            const pacientesTable = $('#pacientesTable');
            $('#documento_paciente').val('');
            pacientesTable.empty();
            
            data.pacientes.forEach(paciente => {
              const row = `
                <tr>
                  <td>${paciente.nombre_paciente}</td>
                  <td>${paciente.apellido_paciente}</td>
                  <td>${paciente.documento_paciente}</td>
                  <td>${new Date(paciente.fecha_nac).toISOString().substring(0, 10)}</td>
                  <td>${paciente.sexo_paciente}</td>
                  <td>${paciente.nombre_os || 'Ninguno'}</td>
                  <td>${paciente.plan || 'Ninguno'}</td>
                  <td>
                    <a class="btn btn-primary btn-sm mr-2" href="/paciente/editar/${paciente.id_paciente}">Editar</a>
                    <form class="d-inline" action="/paciente/${paciente.id_paciente}" method="POST">
                      <button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
                    </form>
                  </td>
                  <td>
                      <a class="btn btn-primary btn-sm mr-2" href="/paciente/prescripcionPaciente/${paciente.id_paciente}">Recetas</a>
                    </td>
                </tr>
              `;
              pacientesTable.append(row);
            });
          },
          error: function(err) {
            console.error('Error al refrescar pacientes:', err);
            alert('Error al refrescar pacientes');
          }
        });
      });
    });