extends ../../layout

block content
    .container
        h1 Prescripciones del Paciente
        h2 #{paciente.nombre_paciente} #{paciente.apellido_paciente}
        .list-group
          each prescripcion in prescripciones
            .list-group-item
              .d-flex.justify-content-between.align-items-center
                .w-100
                  h5.mb-1 Médico: #{prescripcion.Profesional && prescripcion.Profesional.User ? `${prescripcion.Profesional.User.nombre} ${prescripcion.Profesional.User.apellido}` : 'Profesional no asignado'}
                  p.mb-1 Diagnóstico: #{prescripcion.diagnostico}
                  small Fecha de Creación: #{prescripcion.fecha_prescripcion.toISOString().substring(0, 10)}
                button.btn.btn-link.text-decoration-none(data-toggle="collapse" href=`#prescripcion_${prescripcion.id_prescripcion}` aria-expanded="false" aria-controls=`prescripcion_${prescripcion.id_prescripcion}`) Ver Detalles
                a.btn.btn-primary.ml-3(href=`/paciente/descargarPrescripcion/${prescripcion.id_prescripcion}`) Descargar PDF
              div(class="collapse mt-2" id=`prescripcion_${prescripcion.id_prescripcion}`)
                .card.card-body
                  h5 Detalles de la Prescripción
                  h5 Medicamentos recetados
                  each receta in prescripcion.Receta
                    .mb-3
                      p Medicamento: #{receta.Presentacion.Medicamento.nombre_generico} #{receta.Presentacion.concentracion}#{receta.Presentacion.u_medida} | #{receta.Presentacion.Forma_farmaceutica.forma_farmaceutica}
                      p Dosis: #{receta.dosis}
                      p Duración: #{receta.duracion}
                  h5 Prestaciones Efectuadas
                  each prestacion in prescripcion.Prestacion
                    .mb-3
                      p Estudio: #{prestacion.Estudio.nombre_estudio}
                      p Lado: #{prestacion.lado ? `${prestacion.lado}` : 'N/A'}
                      p Indicación: #{prestacion.indicacion}
                      p Justificación: #{prestacion.justificacion}

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
  script.
    $(document).ready(function() {
      $('.collapse').on('show.bs.collapse', function() {
        $('.collapse').collapse('hide');
      });
    });