extends ../../layout
block content
    .container
        h1 Lista de Usuarios
        a.btn.btn-primary.mb-3(href='/crear') Registrar Usuario
        table.table.table-striped.table-hover.text-center
            thead.thead-dark
                tr
                    th Nombre
                    th Documento
                    th Domicilio
                    th Acciones
                    th
                        button#btnRefresh.btn.btn-primary() Refrescar
            tbody#usersTable
                each medico in medicos
                    tr
                        td= medico.User.nombre+" "+medico.User.apellido
                        td= medico.User.documento
                        td= medico.domicilio
                        td
                            a.btn.btn-primary.btn-sm.mr-2(href=`/users/edit/${medico.User.id_user}`)
                                i.fas.fa-edit
                            a.btn.btn-danger.btn-sm.mr-2(href=`/users/delete/${medico.User.id_user}`)
                                i.fas.fa-trash
                            a.btn.btn-primary.btn-sm(href=`/users/details/${medico.User.id_user}`)
                                i.fas.fa-info-circle
                        td