doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        a(href="/usuario/crear") Crear Nuevo Usuario
        h1 Usuarios:
        input(type='text', name='buscarDocumento', id='buscarDocumento', placeholder='Buscar por documento')
        button(type='button', id='btnBuscarDocumento') Buscar
        table
          thead 
            tr
              th Nombre
              th Apellido
              th Documento
          tbody
            each paciente in pacientes
              tr
                td= paciente.nombre_paciente
                td= paciente.apellido_paciente
                td= paciente.documento_paciente
                td= paciente.fecha_nac.toISOString().substring(0, 10)
                td= paciente.sexo_paciente
                td= paciente.nombre_os || 'N/A'
                td= paciente.plan || 'N/A'
                td
                  a(href=`/paciente/editar/${paciente.id_paciente}`) Editar
                  form(action=`/paciente/${paciente.id_paciente}`, method="POST")
                    button(type="submit") Eliminar