extends ../../layout
block content
  .container
    h1 Crear Prescripción
    form#prescriptionForm(action="/profesional/crearPrescripcion", method="post")
      .row
        .col-md-6
          .form-group
            label(for="paciente") Seleccionar Paciente:
            input.form-control(type="text", id="paciente", name="paciente", list="pacientes")
            datalist(id="pacientes")
                each paciente in pacientes
                    option(value=`${paciente.nombre_paciente} ${paciente.apellido_paciente}` data-id=paciente.id_paciente)= `DNI: ${paciente.documento_paciente}`
            input(type="hidden" id="id_paciente" name="id_paciente")
          
          .form-group
            label(for="diagnostico") Diagnóstico:
            input.form-control(type="text", id="diagnostico", name="diagnostico", required)

          .form-group
            label(for="nombrePrestacion") Nombre de Estudio:
            input.form-control(type="text", id="nombrePrestacion", name="nombrePrestacion", list="estudios")
            datalist(id='estudios')
                each estudio in estudios
                    option(value=`${estudio.nombre_estudio}` data-id=estudio.id_estudio)
            button.btn.btn-secondary(type="button", id="agregarEstudio") Agregar
            ul#listaEstudios.list-group.mt-3
            #estudioOculto
          .form-group
            label(for="presentacion") Seleccionar Medicamento:
            input.form-control(type="text", id="presentacion", name="presentacion", list="presentacionesData")
            datalist(id="presentacionesData")
              each presentacion in presentaciones
                option(value=`${presentacion.Medicamento.nombre_generico} ${presentacion.concentracion}${presentacion.u_medida} | ${presentacion.Forma_farmaceutica.forma_farmaceutica}` data-id=presentacion.id_presentacion)=`${presentacion.Categoria.categoria}: ${presentacion.Familia.familia}`
            button.btn.btn-secondary(type="button", id="agregarPresentacion") Agregar
          button.btn.btn-primary.mt-3(type="submit" id="submitForm") Crear Prescripción
        .col-md-6
          ul#listaPresentaciones.list-group.mt-3
          #presentacionOculta

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script.
    $(document).ready(function() {
      $('#paciente').on('blur', function() {
        const pacienteText = $(this).val();
        const pacienteOption = $('#pacientes option').filter(function() {
          return this.value === pacienteText;
        });
        const pacienteId = pacienteOption.data('id');
        if (pacienteOption.length > 0) {
          $('#id_paciente').val(pacienteId);
        } else {
          $(this).val('');
          $('#id_paciente').val('');
        }
      });

      $('#nombrePrestacion').on('blur', function() {
        const estudioText = $(this).val();
        const estudioOption = $('#estudios option').filter(function() {
          return this.value === estudioText;
        });
        if (estudioOption.length === 0) {
          $(this).val('');
        }
      });

      $('#presentacion').on('blur', function() {
        const presentacionText = $(this).val();
        const presentacionOption = $('#presentacionesData option').filter(function() {
          return this.value === presentacionText;
        });
        if (presentacionOption.length === 0) {
          $(this).val('');
        }
      });

      $('#agregarEstudio').click(function() {
        const estudioText = $('#nombrePrestacion').val();
        const estudioOption = $('#estudios option').filter(function() {
          return this.value === estudioText;
        });
        const estudioId = estudioOption.data('id');
        if (estudioId) {
          const lista = $('#listaEstudios');
          if (lista.find(`input[value="${estudioId}"]`).length === 0) {
            const item = $(`
            <li class="list-group-item">
              <span>${estudioText}</span>
              <input type="hidden" name="estudios" value="${estudioId}" />
              <div class="form-group mt-2">
                <label for="lado_${estudioId}">Lado:</label>
                <input type="text", name="lado_${estudioId}", id="lado_${estudioId}" class="form-control", placeholder="Lado", required />
              </div>
              <div class="form-group mt-2">
                <label for="indicacion_${estudioId}">Indicación:</label>
                <input type="text", name="indicacion_${estudioId}", id="indicacion_${estudioId}", class="form-control", placeholder="Indicación", required />
              </div>
              <div class="form-group mt-2">
                <label for="justificacion_${estudioId}">Justificación:</label>
                <input type="text", name="justificacion_${estudioId}", id="justificacion_${estudioId}", class="form-control", placeholder="Justificación", required />
              </div>
            </li>
            `);
            lista.append(item);
            $('#nombrePrestacion').val('');
          } else {
            alert('¡Ese estudio ya ha sido agregado!');
          }
        }
      });

      $('#agregarPresentacion').click(function() {
        const presentacionText = $('#presentacion').val();
        const presentacionOption = $('#presentacionesData option').filter(function() {
          return this.value === presentacionText;
        });
        const presentacionId = presentacionOption.data('id');
        if (presentacionId) {
          const lista = $('#listaPresentaciones');
          if (lista.find(`input[value="${presentacionId}"]`).length === 0) {
            const item = $(`
            <li class="list-group-item">
              <span>${presentacionText}</span>
              <input type="hidden" name="presentaciones" value="${presentacionId}" />
              <div class="form-group mt-2">
                <label for="dosis_${presentacionId}">Dosis:</label>
                <input type="text", name="dosis_${presentacionId}", id="dosis_${presentacionId}", class="form-control", placeholder="Dosis", required />
              </div>
              <div class="form-group mt-2">
                <label for="duracion_${presentacionId}">Duración:</label>
                <input type="text", name="duracion_${presentacionId}", id="duracion_${presentacionId}", class="form-control", placeholder="Duración", required />
              </div>
            </li>
            `);
            lista.append(item);
            $('#presentacion').val('');
          } else {
            alert('¡El medicamento ya ha sido agregado!');
          }
        }
      });
      $('#submitForm').click(function(event) {
        event.preventDefault();
        let isValid = true;
        let isFormValid = true;
        const paciente = $('#paciente').val();
        const idPaciente = $('#id_paciente').val();
        const diagnostico = $('#diagnostico').val();

        if (!paciente || !idPaciente) {
          $('#paciente').addClass('is-invalid');
          isFormValid = false;
        } else {
          $('#paciente').removeClass('is-invalid');
        }

        if (!diagnostico) {
          $('#diagnostico').addClass('is-invalid');
          isFormValid = false;
        } else {
          $('#diagnostico').removeClass('is-invalid');
        }
        $('#listaEstudios input, #listaPresentaciones input').each(function() {
          if (!$(this).val()) {
            $(this).addClass('is-invalid');
            isValid = false;
          } else {
            $(this).removeClass('is-invalid');
          }
        });

        if (!isValid || !isFormValid) {
          alert('Por favor, complete todos los campos.');
          return;
        }
        const confirmCreate = confirm('¿Está seguro de que desea crear esta prescripción?');
        if (confirmCreate) {
          $('#prescriptionForm').submit();
        }
      });
    });